  <article class = "post">
      <div class = "post-front">
        <div class = "post-header">
          <div class = "post-item">
          	{{item}}
          </div>
          <button type = "button" class = "remove-post-button">Remove</button>
        </div>

        <div class = "img-container">
          <img class = "img-item" src = "{{photo}}" alt = "failed to load photo"/>
        </div>
      </div>
      <div class = "post-back">
        <div class = "post-back-header">
          <button type = "button" class = "back-to-front">&times;</button>
        </div>
        <div class = post-text>
          <label for = "post-comments">Comments: </label>
          <div class = "post-comments">
            {{comments}}
          </div>
          <label for = "post-contact-info">Contact Info: </label>
          <div class = "post-contact-info">
            {{contacts}}
          </div>
        </div>
      </div>
      <div class = post-pass>
        {{password}}
      </div>
  </article>
